# --- Python & Ortam (Environment) ---
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.env

# --- Veri ve Modeller ---
data/
*.csv
*.xlsx
*.parquet
*.pickle
*.pkl
models/

# --- MLflow & Deney Takibi ---
mlflow_data/
mlruns/
reports/

# --- Spark & Hadoop ---
spark-warehouse/
metastore_db/
derby.log
checkpoint/
checkpoints/
.spark-staged/

# --- Test, Loglar ve Geçici Dosyalar ---
.pytest_cache/
logs/
*.log
*.tmp

# --- IDE & İşletim Sistemi ---
.vscode/
.idea/
.ipynb_checkpoints/
.DS_Store
Thumbs.db